/* Header */
header {
    background-color: #1a1a1a;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 15px;
    font-size: 14px;
    position: relative;
  }
  
  nav a:hover {
    color: #007bff;
    text-decoration: underline;
  }