<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/favicon-32x32.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>taskiy - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/CSS/header_css.css">
    <link rel="stylesheet" href="/static/CSS/scroll_bar.css">
    <link rel="stylesheet" href="/static/CSS/home.css">
</head>
<body class="{{ dark_mode_class }}">
    <header>
        <nav>
            <a class="active" href="">Home</a>
            <a href="/profile/">Profile</a>
            <a style="cursor: pointer;" onclick="logout()">Logout</a>
            <button class="color-changer-nav" onclick="toggleDarkLightMode()">
                <i id="dark-mode-icon" class="{{ icoColor }}"></i>
            </button>
            <i id="sidebar-toggle" class="fa fa-bars sidebar-toggle-icon" onclick="toggleSidebar()"></i>
        </nav>
    </header>

    <div class="sidebar">
        <div class="profile-picture-container">
            <img src="/static/pfp/{{ pfp }}" alt="Profile Picture" class="profile-picture">
        </div>
        <p class="version-style">Version <a style="color: white;" href="/updates">Beta 1.6</a></p>
        <p style="font-size: 10px;margin: none;padding-bottom: 0;">Want to file a bug or add/remove feature <a class="no-style" href="/contact">Contact Us</a></p>
        <ul>
            <li>
            </li>
            <button id="show-collab-button" onclick="showCollabForm()">Make a Collab</button>
            
            <li><h3 style="margin: none;">Your Groups:</h3></li>
            {% for group in custom_groups %}
                <li>
                    <a>{{ group }}</a>
                    <form class="delete-form" action="{{ url_for('delete_group', group_name=group) }}" method="POST">
                        <button style="background-color: #d62929;" type="submit" class="delete-button">Delete</button>
                    </form>
                </li>
            {% endfor %}
            <form action="/add_group" method="post">
                <input style="font-size: 12px;" type="text" name="group_name" placeholder="Add a New Group!">
                <input type="submit" class="delete-button">
            </form>
    </div>

    

    <div class="content">
        <h1 id="currentTime"></h1>

        <form class="add-form" action="/add_task" method="POST">
            <input class="input-field" placeholder="Task Title" type="text" id="title" name="title" required>
            <textarea class="input-field" placeholder="Description" id="description" name="description"></textarea>
            <div class="button-row">
                <select class="input-field" id="group" name="group" required>
                    <option value="">Select Group</option>
                    {% for group in custom_groups %}
                        <option value="{{ group }}">{{ group }}</option>
                    {% endfor %}
                </select>
                <select class="input-field" id="importance" name="importance">
                    <option value="">Priority</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
                <input class="input-field datetime-input" type="datetime-local" id="datetime" name="due_date">
            </div>
            <button class="submit-button" type="submit">Add Task</button>
        </form>
        
        
        


        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search tasks...">
            <button class="search-button" onclick="searchTasks()">Search</button>
            <select class="group-filter" id="groupFilter" onchange="filterByGroup()">
                <option value="">All Groups</option>
                {% for group in custom_groups %}
                    <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="taskResults" style="margin-bottom: 20px;"></div>
        {% if tasks|length == 0 %}
            <p>Looks like there are no tasks or groups. Add some!</p>
        {% else %}
            <ul class="task-list">
                {% for task in tasks %}
                    {% if task.title or task.description %}
                        <li class="task-item" data-group="{{ task.group_name }}" data-due-date="{{ task.due_date }}">
                            <strong>{{ task.title }}</strong>
                            {% if task.description %}
                                <p>{{ task.description }}</p>
                            {% endif %}
                            <p>Group: {{ task.group_name }}</p>
                            <p>Importance: {{ task.importance }}</p>
                            {% if task.due_date %}
                                <p class="due-date">Due in: <span id="time-remaining" data-due-date="{{ task.due_date }}"></span></p>
                            {% else %}
                                <p class="due-date">No Due Date assigned</p>
                            {% endif %}
                            <button onclick="deleteTask({{ task.id }})">Complete</button>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        </div>


    </div>

    <div id="tutorial-popup" class="tutorial-popup">
        <div class="tutorial-content">
            <h2>Welcome to taskiy!</h2>
            <p>This is your first time here. Let's get started:</p>
            <ul>
                <li><strong>Create a new task:</strong> Click the "+" button in the sidebar to add a new task.</li>
                <br>
                <li><strong>Set task details:</strong> Provide a title, due date, group, and importance. Description is optional.</li>
                <br>
                <li><strong>Get notifications:</strong> Receive notifications for tasks with approaching due dates when actively using the website on the home page.</li>
                <br>
                <li><strong>Search for tasks:</strong> Use the search feature to find tasks or filter them by group.</li>
                <br>
                <li><strong>Complete tasks:</strong> Mark tasks as completed by clicking the "Complete" button.</li>
                <br>
                <li><strong>Dark Mode/Light Mode:</strong> Change from dark mode and light mode in the navigation panel.</li>
            </ul>
            <button id="close-tutorial">Got it</button>
        </div>
    </div>

    <div id="collab-popup">
        <!-- Close button in the top right corner -->
        <span class="close-button" onclick="closeCollabForm()">&#10006;</span>
    
        <h2>Create a Collaboration</h2>
    
        <!-- Collaboration Name -->
        <div class="form-group">
            <label for="collab-name">Collaboration Name:</label>
            <input type="text" id="collab-name" name="collab-name" required>
        </div>
    
        <!-- Collaborators -->
        <div class="form-group">
            <label for="user-list">Invite Collaborator (username):</label><br>
            <div id="collaborator-inputs">
                <div class="collaborator-input">
                    <input type="text" id="user1" name="user1" placeholder="Invite Person here" required>
                    <div id="suggestions"></div>
                </div>
            </div>
        </div>
    
        <p id="collabErrorMessage"></p> 
        <!-- A little error message so you cant make anything without a collab name or people invited because without people its not a collab -->
        
        <p id="userCollabError">You can add more people after group creation in settings</p>
    
        <input type="submit" onclick="createCollab()" value="Create Collaboration" class="btn-primary">
    </div>
    
    <!-- All of the Java Script -->
    
    <script src="/static/js/home_collab_form.js"></script>
    <script src="/static/js/home.js"></script>
    <script>
        // Get the current date and time
        const currentTime = new Date();

        // Extract hours, minutes, and seconds
        const hours = currentTime.getHours();
        const minutes = currentTime.getMinutes();
        const seconds = currentTime.getSeconds();

        // Display the time in the <p> tag
        const timeDisplay = document.getElementById("currentTime");
        if (hours >= 12) {
            timeDisplay.textContent = `Good evening, {{ username }}!`;
        }
        else if (hours < 12) {
            timeDisplay.textContent = `Good morning, {{ username }}!`;
        }


        // Creation for collab

        function createCollab() {
            const owner = "{{ username }}";
            const collabNameInput = document.getElementById('collab-name'); // Get the input element
            const user_one = document.getElementById('user1');
            const collabErrorMessage = document.getElementById('collabErrorMessage');

            if ('%20' in owner) {
                const owner = owner.replace('%20', ' ')
            }

            if (!collabNameInput.value && !user_one.value) {
                collabErrorMessage.textContent = 'Must have a User Invite and a Collab Name';
            } else if (!collabNameInput.value) {
                collabErrorMessage.textContent = 'Must have a Collab Name';
            } else if (!user_one.value) {
                collabErrorMessage.textContent = 'Must have a User Invite';
            }

            if (collabNameInput.value && user_one.value) {
                const url = `http://127.0.0.1/make_collab/${collabNameInput.value}/${user_one.value}/${owner}`;

                fetch(url)
                    .then(response => {
                        if (response.ok) {
                            console.log('ok');
                        } else {
                            console.log('not ok');
                        }
                    })
                    .catch(error => {
                        console.log('error: ', error);
                    })
            }

            
        }
    </script>
</body>
</html>